@import '../../theme/colors';

.dropdown {
  position: relative;
  width: 320px;

  &__input {
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px 88px 14px 14px;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $dark_shade_75;
    border: 1px solid $dark_shade_25;
    border-radius: 4px;
    outline: none;
    background: #fff;
    font-size: 14px;
    font-weight: 400;

    &::placeholder {
      color: $dark_shade_75;
    }
  }

  &__ico {
    position: absolute;
    top: 25px;
    right: 0;
    display: flex;
    width: 44px;
    height: 44px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    svg {
      fill: $dark_shade_50;
    }

    &_rich {
      svg {
        fill: $dark_shade_75;
      }
    }
  }

  &_form {
    width: 320px;
  }

  &_page {
    width: 266px;
  }

  &__wrap-options {
    position: absolute;
    z-index: 1000;
    display: none;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $dark_shade_50;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
  }

  &_things {
    .dropdown__input {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .dropdown__wrap-options {
      //padding-bottom: 7px;
    }
  }

  &_open {
    .dropdown__input {
      border-color: $dark_shade_50;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .dropdown__wrap-options {
      display: block;
    }
  }

  &__buttons {
    display: flex;
    height: 40px;
    justify-content: space-between;
  }
}
