form(class="form form-search" id="form-search")
    .form-search__header
        h1 Найдём номера под ваши пожелания
    .form-search__range
        +dropdown-date-range({
          labelStart: "прибытие",
          labelEnd: "выезд",
          placeholderStart: "ДД.ММ.ГГГГ",
          placeholderEnd: "ДД.ММ.ГГГГ",
        })
    .form-search__guests
        +dropdown-select({
          label: "Гости",
          variant: "people",
          options: [
            {text: "взрослые", value: 0},
            {text: "дети", value: 0},
            {text: "младенцы", value: 0}
          ]
        })
    .form-search__button
        +button({
          type: "adv",
          text: "подобрать номер"
        })
