.form-search {
  &__header {
    padding-top: 10px;
    padding-right: 20px;
  }

  &__range {
    padding-top: 21px;
  }

  &__guests {
    padding-top: 14px;
  }

  &__button {
    padding-top: 29px;
  }
}
