.typography{

  .type{
    display: flex;
    padding-bottom: 51px;

    &__teg{
      font-weight: 400;
      color: $dark_shade_25;
      width: 32px;

    }
    &__description{
      font-weight: 700;
      color: $dark_shade_100;
      padding-left: 30px;
    }

    &_h1{
      font-size: 24px;
      line-height: 29px;
    }

    &_h2{
      font-size: 19px;
      line-height: 23px;
    }

    &_h3{
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }

    &_body{
      .type__description{
        font-weight: 300;
        color: $dark_shade_75;
      }
    }

  }
}
