.typography
    .type.type_h1
        .type__teg H1
        .type__description This one is the sub-section or <br> widget title
    .type.type_h2
        .type__teg H2
        .type__description Next one is the item title inside <br> widgets
    .type.type_h3
        .type__teg H3
        .type__description This is a label or CTA text
    .type.type_body
        .type__teg body
        .type__description
            |This is the body text which is used for most <br>
            |of the design, like paragraphs, lists, etc.
