mixin rate-button(rating)

    -   const onStar='star', offStar='star_border'

    .rate-button(data-rating=rating data-type="rating")
        -   for(let i=0;i<5;i++)
            span(
                class = "material-icons md-24 rate-button__star"
                data-numstar=i+1
            )=i<rating ? onStar : offStar
