.dropdown-date {
  display: flex;
  justify-content: space-between;
  width: 150px;
  flex-direction: column;
  user-select: none;

  &_filter {
    width: 266px;
  }

  &__wrap-input {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid $dark_shade_25;;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 12px;
    cursor: pointer;
  }

  &__datepicker {
    width: 150px;
    font-size: 14px;
    font-weight: 300;
    color: $dark_shade_75;
    outline: none;
    border: none;
    cursor: pointer;
    overflow: hidden;

    &::placeholder {
      color: $dark_shade_75;
    }

  }

  &__input-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: $dark_shade_50;
  }
}

.datepicker-metalamp {
  width: 320px;
  background: #FFFFFF;
  border: 1px solid $dark_shade_25;
  box-sizing: border-box;
  box-shadow: 0 10px 20px $dark_shade_5;
  border-radius: 4px;

  .material-icons {
    color: rgba(188, 156, 255, 1);
  }


  .datepicker {

    &--nav {
      border-bottom: none;
      padding: 15px 15px 16px 16px;

      &-title {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 19px;
        text-align: center;
        color: #1F2041;
        letter-spacing: 1px;
        padding: 0 4px 0 11px;
      }
    }

    &--content {
      display: flex;
      justify-content: center;
      padding: 0;
    }

    &--days {
      width: 280px;

      &-names {
        display: flex;
        align-items: center;
      }
    }

    &--day-name {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      color: $purple;
      padding: 10px 0;
      text-transform: none;
    }

    &--cells {
      display: flex;

      &-days {
        .-other-month- {
          color: $dark_shade_25;
        }
      }
    }

    &--cell {
      height: 44px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 12px;
        text-align: center;
        color: $dark_shade_50;
        border-radius: 22px;
        margin: 10px 0;

        &:hover {
          background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
          color: #FFFFFF;
        }
      }
    }

    &--buttons {
      border: none;

      [data-action="apply"] {
        order: 2;
        justify-content: flex-end;
        padding-right: 20px;
      }

      [data-action="clear"] {
        order: 1;
        justify-content: flex-start;
        padding-left: 20px;
      }
    }

    &--button, &--button_apply {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      color: $purple;
    }

    &--button_apply {
      cursor: pointer;
      border-radius: 4px;
      flex: 1;
      display: inline-flex;
      align-items: center;
      height: 32px;

      &:hover {
        background: #f0f0f0;
      }
    }
  }

  .datepicker--cell.-current- {

    span {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      color: #FFFFFF;
    }
  }

  .datepicker--cell.-in-range- {
    background: linear-gradient(180deg, rgba(188, 156, 255, .25) 0%, rgba(139, 164, 249, .25) 100%);
  }

  .datepicker--cell.-selected- {
    background: #FFFFFF;
    span {
        background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
        color: #FFFFFF;
      }
    }

  .datepicker--cell.-range-from-.-selected- {
    background: linear-gradient(180deg, rgba(188, 156, 255, .25) 0%, rgba(139, 164, 249, .25) 100%);
    border-radius: 22px 0 0 22px;

    span {
      background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
      border-radius: 22px;
      color: #FFFFFF;
    }
  }

  .datepicker--cell.-range-to-.-selected- {
    background: linear-gradient(180deg, rgba(188, 156, 255, .25) 0%, rgba(139, 164, 249, .25) 100%);
    border-radius: 0 22px 22px 0;

    span {
      background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
      border-radius: 22px;
      color: #FFFFFF;
    }
  }

  .datepicker--cell.-focus- {
    background-color: transparent;
  }

  .datepicker--cell.-range-from-.-focus- {
    background: linear-gradient(180deg, rgba(188, 156, 255, .25) 0%, rgba(139, 164, 249, .25) 100%);
    border-radius: 22px 0 0 22px;
    border: none;
  }

  .datepicker--cell.-range-to-.-focus- {
    background: linear-gradient(180deg, rgba(188, 156, 255, .25) 0%, rgba(139, 164, 249, .25) 100%);
    border-radius: 0 22px 22px 0;
    border: none;
  }

  .datepicker--cells-days .-other-month- {
    span {
      color: rgba(31, 32, 65, 0.25);
    }
  }

}
