include ../dropdown/dropdown

mixin dropdown-date(args)
    if !args
        - args = {}
    +dropdown({
      label: args.label||"date dropdown",
      defValue: args.defValue||"ДД.ММ.ГГГГ",
      mod: "dropdown__date",
      type: 'date'
    })
