section.section.section_sec-cards
    include ../../components/logo/logo
    .row
        .col
            .wrap-element-wide
                include ../../forms/search-room/search-room
            .wrap-element-wide
                include ../../forms/account-registration/account-registration
        .col
            .wrap-element-wide
                include ../../forms/search-room/search-room
                //include ../../forms/booking/booking
            .wrap-element-wide
                include ../../forms/search-room/search-room
                //include ../../forms/login/login
        .col
            .wrap-element-wide
                #calendar
