section.section.section_sec-cards
    include ../../components/logo/logo
    .row
        .col
               //include ../../components/palette/palette
        .col
                //include ../../components/typography/typography
        .col
            #calendar
