include ../../components/dropdown/dropdown

.dropdown-guests
    +dropdown({
      type:"guests",
      label: "dropdown",
      defValue: "",
      ico: "expand_more",
      id: "dropdown-guests-init"
    })
