.rate-button{
  display: inline-flex;
  margin-right: 20px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  &__star{
    cursor: pointer;
  }
}
