mixin rate-button(rating)
    .rate-button(data-rating=rating)
        - for (let i = 0; i < 5; i++)
          if i < rating
            include ./img/star.svg
          else
            include ./img/star_border.svg
