.dropdown_subscription{
  width: 266px;
  .dropdown__input{
    color: $dark_shade_25;
    &::placeholder{
      color: $dark_shade_25;
    }
  }
  .dropdown__input-ico_subscription{
    background: -webkit-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
