include ../label/label

mixin subscription-text-field(args)
    +dropdown({
        label: args.label,
        defValue: args.defValue,
        ico: args.ico,
        modIco: args.modIco,
        mod: args.mod
    })
