.form-booking {

  &__header {
    padding-right: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__range {
    margin-top: 20px;
  }

  &__guests {
    margin-top: 20px;
  }

  &__items {
    margin-top: 20px;
  }

  .item-price {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $dark_shade_75;
    margin-bottom: 10px;

    &__text {
      max-width: 210px;
      width: 100%;
    }

    &__ico {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      color: $dark_shade_25;
      border: 1px solid $dark_shade_25;
      border-radius: 50%;
    }

    &__price {
      margin-left: auto;
    }
  }

  &__rezult {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    &-text {
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      color: #1F2041;
      padding-right: 5px;
    }

    &-dots {
      margin-bottom: 4px;
      flex: 1;
      border-bottom: 1px dashed $dark_shade_25;
    }

    &-sum {
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      color: #1F2041;
    }
  }

  &__button {
  }
}

