@import "../../theme/colors";

$gradien: linear-gradient(180deg, $purple 0%, #8ba4f9 100%);

.button {
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 22px;
  font-size: 12px;
  font-weight: 500;

  &_btn {
    border: none;
  }

  &_big,
  &_small {
    height: 44px;
  }

  &_big,
  &_link-big {
    position: relative;
    display: flex;
    width: 320px;
    padding-right: 12px;
    padding-left: 30px;
    justify-content: center;
    align-items: center;

    span {
      width: 100%;
    }

    svg {
      fill: #fff;
    }
  }

  &_small {
    width: 99px;
  }

  &_big,
  &_type-1,
  &_link-big {
    transition: 500ms ease-in-out;
    color: #fff;
    background: $gradien;

    &:hover {
      opacity: 0.5;
    }
  }

  &_type-2,
  &_type-3,
  &_link-small {
    transition: 500ms ease-in-out;
    color: $purple;
    font-weight: bold;
  }

  &_type-2,
  &_link-small {
    display: inline-block;
    padding: 2px;
    background: $gradien;

    span {
      display: block;
      padding: 13px 0;
      border-radius: 20px;
      background: #fff;
    }

    &:hover {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
    }
  }

  &_type-3 {
    background-color: transparent;

    &:hover {
      color: $dark_shade_50;
    }
  }

  &_link-big,
  &_link-small {
    box-sizing: border-box;
    height: 34px;
    text-decoration: none;

    span {
      text-align: center;
    }
  }

  &_link-big {
    width: 196px;
    padding: 0;
  }

  &_link-small {
    width: 87px;
    font-weight: 500;

    span {
      padding: 3px 0;
    }
  }
}
