@import "../../theme/colors";

body._lock {
  overflow: hidden;
}

.menu {
  display: flex;

  &__icon {
    display: none;
  }

  &__list {
    display: flex;
    margin: 0;
    list-style-type: none;
    align-items: baseline;

    li {
      position: relative;
      display: flex;
      list-style-type: none;
      align-items: center;

      svg {
        width: 24px;
        height: 24px;
        padding-top: 2px;
        transition: all 0.3s ease 0s;
        pointer-events: none;
        fill: $dark_shade_50;
      }

      &:hover {
        a {
          color: $purple;
        }

        svg {
          transform: rotate(180deg);
          fill: $purple;
        }

        .menu__sub-list {
          visibility: visible;
          transform: translate(0, 0);
          pointer-events: all;
          opacity: 1;
        }
      }
    }
  }

  &__link {
    display: flex;
    height: 44px;
    padding-left: 21px;
    cursor: pointer;
    text-decoration: none;
    color: $dark_shade_50;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    align-items: center;
    justify-content: center;

    &._active {
      color: $dark_shade_75;
      font-weight: bold;
    }
  }

  &__sub-list {
    position: absolute;
    top: 65%;
    right: 0;
    padding: 15px;
    background-color: #fff;
  }

  &__sub-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: 1234px) {
  .menu__sub-list {
    visibility: hidden;
    transition: all 0.3s ease 0s;
    transform: translate(0, 10%);
    pointer-events: none;
    opacity: 0;
  }
}

@media (max-width: 1234px) {
  .menu {
    &__icon {
      position: relative;
      z-index: 5;
      display: block;
      width: 30px;
      height: 18px;
      cursor: pointer;

      & span,
      &::before,
      &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 10%;
        transition: all 0.3s ease 0s;
        background-color: #3b3b3b;
      }

      &::before,
      &::after {
        content: "";
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      & span {
        top: 50%;
        transform: scale(1) translate(0, -50%);
      }

      &._active span {
        transform: scale(0) translate(0, -50%);
      }

      &._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
      }

      &._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
      }
    }

    &__body {
      position: fixed;
      top: 0;
      left: -200%;
      overflow: auto;
      width: 100%;
      height: 100%;
      padding: 100px 30px 30px;
      transition: left 0.3s ease 0s;
      background-color: rgba(0, 0, 0, 0.9);
    }

    ._active {
      left: 0;
    }

    &::before {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 66px;
      content: "";
      background-color: #333;
    }

    &__list {
      flex-direction: column;

      li {
        margin: 0 0 30px;
        flex-wrap: wrap;

        &:last-child {
          margin-bottom: 0;
        }

        &._active .menu__sub-list {
          display: block;
        }

        svg {
          pointer-events: all;
          fill: #f4f4f6;

          &:hover {
            transform: rotate(0deg);
            fill: #f4f4f6;
          }
        }

        &:hover a {
          color: #f4f4f6;
        }

        &._active {
          svg {
            transform: rotate(180deg);
            fill: #f4f4f6;
          }
        }
      }
    }

    &__link {
      color: #f4f4f6;
      font-size: 24px;

      &._active {
        color: white;
        font-weight: bold;
      }
    }

    &__sub-list {
      position: relative;
      display: none;
      flex: 1 1 100%;
      margin: 20px 0 0 30px;
      background-color: transparent;
    }

    &__sub-link {
      color: #f4f4f6;
      font-size: 20px;
    }
  }
}
