mixin like-button(args)
    - const className = args.isLike ? "like-button like-button_like" : "like-button"

    div(class=className data-type='like')
        .like-button__ico
            if args.isLike
                include ./img/favorite.svg
            else
                include ./img/favorite_border.svg
        .like-button__num
            span=args.num

