extends ../../components/sub-layout/sub-layout

block variables
    -const title = 'Search room page'

block main
    include ../../components/date-filter/date-filter
    include ../../components/dropdown-select/dropdown-select
    include ../../components/range-slider/range-slider
    include ../../components/subheading/subheading
    include ../../components/checkbox-button/checkbox-button
    include ../../components/checkbox-list/checkbox-list
    include ../../components/room/room
    include ../../components/pagin/pagin

    .search-room
        aside.search-room__left
            .search-room__data-range
                +date-filter({placeholder: "даты пребывания в отеле"})
            .search-room__guests
                .form-search__guests
                    +dropdown-select({
                      labelText: "гости",
                      type: "people",
                      mod: "page",
                      modIco: "rich",
                      placeholder: "Сколько гостей",
                      options: [
                        {text: "взрослые", value: 0},
                        {text: "дети", value: 0},
                        {text: "младенцы", value: 0}
                      ]
                    })
            .search-room__slider-price
                +range-slider({
                  text: "диапазон цены",
                  start: 5000,
                  end: 10000,
                  step: 1000,
                  rangeMin: 0,
                  rangeMax: 15000,
                })
            .search-room__slider-price-info
                span="Стоимость за сутки пребывания в номере"
            .search-room__rules
                +subheading({text: 'правила дома'})
                +checkbox-button({
                    name: "smoke",
                    text: "Можно курить",
                    checked: false
                })
                +checkbox-button({
                    name: "pet",
                    text: "Можно с питомцами",
                    checked: true
                })
                +checkbox-button({
                    name: "guests",
                    text: "Можно пригласить гостей (до 10 человек)",
                    checked: true
                })
            .search-room__accessibility
                +subheading({text: 'доступность'})
                +checkbox-button({
                    name: "wideCorridor",
                    text: "Широкий коридор",
                    desc: "Ширина коридоров в номере               не менее 91 см.",
                    checked: false,
                    mod: "rich"
                })
                +checkbox-button({
                    name: "helper",
                    text: "Помошник для инвалидов",
                    desc: "На 1 этаже вас встретит специалист и проводит до номера",
                    checked: false,
                    mod: "rich"
                })
            .search-room__room-amenities
                +dropdown-select({
                  labelText: "удобства номера",
                  type: "things",
                  mod: "page",
                  modIco: "rich",
                  placeholder: "2 спални, 2 кровати...",
                  options: [
                    {text: "спальни", value: 2},
                    {text: "кровати", value: 2},
                    {text: "ванные комнаты", value: 0}
                  ]
                })
            .search-room__additional-amenities
                +checkbox-list({
                  name: "дополнительные удобства",
                  items: [
                    {name: "breakfast", text: "Завтрак", checked: false},
                    {name: "desk", text: "Письменный стол", checked: true},
                    {
                      name: "feeding-chair",
                      text: "Стул для кормления",
                      checked: true
                    },
                    {name: "crib", text: "Кроватка", checked: true},
                    {
                      name: "television",
                      text: "Телевизор",
                      checked: false
                    },
                    {name: "shampoo", text: "Шампунь", checked: false}
                  ]
                })
        main.search-room__right
            .search-room__header
                h1="Номера, которые мы для вас подобрали"
            .search-room__grid
                -
                    const rooms = [
                        {num:"888", isLux: true, price: "9 990", rating: 5, recall: 145},
                        {num:"840", isLux: false, price: "9 990", rating: 4, recall: 65},
                        {num:"980", isLux: true, price: "8 590", rating: 3, recall: 35},
                        {num:"856", isLux: false, price: "7 300", rating: 5, recall: 19},
                        {num:"740", isLux: false, price: "6 000", rating: 4, recall: 44},
                        {num:"982", isLux: false, price: "5 800", rating: 3, recall: 56},
                        {num:"678", isLux: false, price: "5 500", rating: 5, recall: 45},
                        {num:"450", isLux: false, price: "5 300", rating: 4, recall: 39},
                        {num:"350", isLux: false, price: "5 000", rating: 3, recall: 77},
                        {num:"666", isLux: false, price: "5 000", rating: 5, recall: 25},
                        {num:"444", isLux: false, price: "5 000", rating: 3, recall: 15},
                        {num:"352", isLux: false, price: "5 000", rating: 3, recall: 55},
                    ]
                each room in rooms
                    +room({
                      num: room.num,
                      isLux: room.isLux,
                      price: room.price,
                      rating: room.rating,
                      recall: room.recall
                    })
            .search-room__pagin
                +pagin({pageSize: 12})
