.search-room {
  display: flex;
  width: 100%;
  padding: 0 140px;

  &__left {
    width: 100%;
    max-width: 326px;
  }

  &__data-range {
    margin-top: 26px;
  }

  &__guests {
    margin-top: 2px;
  }

  &__slider-price {
    margin-top: 25px;
  }

  &__slider-price-info {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }

  &__rules {
    margin-top: 24px;
  }

  &__accessibility {
    margin-top: 31px;
  }

  &__room-amenities {
    margin-top: 24px;
  }

  &__additional-amenities {
    margin-top: 15px;
  }

  &__right {
    flex: 1;
    background-color: #66d2ea;
  }

  &__header {
    padding: 30px 0 21px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 20px 12px;
  }

  &__pagin {
    margin: 0 50%;
  }
}

.test {
  width: 270px;
  height: 257px;
  background-color: #1f2041;
}
