.section{
  max-width: 1440px;
  width: 100vw;

  &_sec-colors-type{
    background-color: #FFFFFF;
    padding-bottom: 125px;

    >.warp{
      display: flex;
      justify-content: space-between;
      padding: 67px 150px;
    }
  }
}

@import "../components/palette/palette";
@import "../components/typography/typography";
