.section{
  max-width: 1440px;
  width: 100vw;

  &_sec-colors-type{
    background-color: #FFFFFF;
    padding-bottom: 125px;

    &>.warp{
      display: flex;
      justify-content: space-between;
      padding: 67px 150px;
    }
  }

  &_sec-form-elements{
    background-color: #FFFFFF;

    &>.warp{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 67px 150px;
    }
  }
}

.row-in-sec{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.row-in-col{
  &_20{
    padding-bottom: 20px;
  }
  &_40{
    padding-bottom: 40px;
  }
}
.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 320px;
}
.col{
  flex: 1 1 30%;
}

.col-67{
  flex: 1 1 70%;
}

@import "../components/palette/palette";
@import "../components/typography/typography";
@import "../components/label/label";
@import "../components/text-field/text-field";
@import "../components/dropdown/dropdown";
@import "../components/masked-text-field/masked-text-field";
@import "../components/dropdown-date/dropdown-date";
@import "../components/dropdown-filter-date/dropdown-filter-date";
@import "../components/subscription-text-field/subscription-text-field";
@import "../components/radio-buttons/radio-buttons";
@import "../components/toggle/toggle";
@import "../components/rate-button/rate-button";
@import "../hoc/buttons/buttons";
@import "../components/icon-text/icon-text";
@import "../hoc/comments/comments";
@import "../components/checkbox-list/checkbox-list";
@import "../components/bullet-list/bullet-list";
@import "../components/like-button/like-button";
@import "../components/checkbox-button/checkbox-button";
@import "../components/rich-checkbox-buttons/rich-checkbox-buttons";
@import "../components/range-slider/range-slider";
@import "../components/pag/pag";
