section.section.section_sec-colors-type
    include ../components/logo/logo
    .warp
        .left
            include ../components/palette/palette
        .right
            include ../components/typography/typography
