section.section.section_sec-form-elements
    include ../components/logo/logo
    .warp
        .row
            .col
                include ../components/text-field/text-field
                include ../components/dropdown/dropdown
                include ../components/masked-text-field/masked-text-field
                include ../components/date-dropdown/date-dropdown
                include ../components/filter-date-dropdown/filter-date-dropdown
                include ../components/subscription-text-field/subscription-text-field
            .col
                include ../components/checkbox-buttons/checkbox-buttons
                include ../components/radio-buttons/radio-buttons
                include ../hoc/toggles/toggles
                include ../hoc/like-buttons/like-buttons
                include ../hoc/rate-buttons/rate-buttons
            .col
                //include ../components/typography/typography
        .row
            .col
                //include ../components/palette/palette
            .col
                //include ../components/typography/typography
            .col
                //include ../components/typography/typography
        .row
            .col
                //include ../components/palette/palette
            .col
                //include ../components/typography/typography
            .col
                //include ../components/typography/typography
        .row
            .col
                //include ../components/palette/palette
            .col
                //include ../components/typography/typography
            .col
                //include ../components/typography/typography
