section.section.section_sec-colors-type
    include ../components/logo/logo
    .warp
        .col
            include ../components/palette/palette
        .col
            include ../components/typography/typography
