include ../components/dropdown/dropdown
include ../components/text-field/text-field
include ../components/masked-text-field/masked-text-field
include ../components/subscription-text-field/subscription-text-field
include ../components/radio-buttons/radio-buttons
include ../components/label/label
include ../components/toggle/toggle
include ../components/checkbox-list/checkbox-list
include ../components/bullet-list/bullet-list
include ../components/like-button/like-button
include ../components/rate-button/rate-button
include ../components/icon-text/icon-text
include ../components/checkbox-button/checkbox-button
include ../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../components/range-slider/range-slider

section.section.section_sec-form-elements
    include ../components/logo/logo
    .warp
        .row-in-sec
            .col
                .row-in-col.row-in-col_20
                    +text-field({
                      label: "text-field",
                      className: "text-field",
                      type: "text",
                      name: "name",
                      defValue: "Email",
                      id: "text-field"
                    })
                .row-in-col.row-in-col_20
                    +dropdown({
                        mod: "def",
                        modIco: "def",
                        label: "dropdown",
                        defValue: "Сколько гостей",
                        ico: "expand_more"
                    })
                .row-in-col.row-in-col_20
                    +masked-text-field({label:"masked text field"})
                .row-in-col.row-in-col_40
                    include ../components/dropdown-date/dropdown-date
                .row-in-col.row-in-col_40
                    include ../components/dropdown-filter-date/dropdown-filter-date
                .row-in-col
                    +subscription-text-field({
                        label: "subscription-text-field",
                        defValue: "Email",
                        ico: "arrow_forward",
                        modIco:"subscription",
                        mod: "subscription"
                    })
            .col
                .row-in-col.row-in-col_40
                    +label({text:"checkbox buttons"})
                    +checkbox-button({
                      name: "smoke",
                      text: "Можно курить",
                      value: "no",
                      checked: false
                    })
                    +checkbox-button({
                      name: "pet",
                      text: "Можно с питомцами",
                      value: "yes",
                      checked: true
                    })
                    +checkbox-button({
                      name: "guests",
                      text: "Можно пригласить гостей (до 10 человек)",
                      value: "yes",
                      checked: true
                    })
                .row-in-col.row-in-col_40
                    +radio-buttons({showLabel: true})
                .row-in-col.row-in-col_40
                    +label({text: "toggle"})
                    +toggle({
                        text: "Получать спецпредложения",
                        id: "toggle-1",
                        checked: true
                    })
                    +toggle({
                        text: "Получать спецпредложения",
                        id: "toggle-2",
                    })
                .row-in-col.row-in-col_40
                    +label({text: "like button"})
                    +like-button({
                      ico: "favorite_border",
                      num: "2"
                    })
                    +like-button({
                        classes: ["like-button", "like-button_active"],
                        ico: "favorite",
                        num: "12"
                    })
                .row-in-col.row-in-col_40
                    +label({text:"rate button"})
                    +rate-button(4)
                    +rate-button(5)
            .col
                .row-in-col.row-in-col_40
                    +range-slider({text: "range slider", forAttr: "rangeSlider"})
                .row-in-col.row-in-col_40
                    include ../hoc/buttons/buttons
        .row-in-sec
            .col
                +dropdown({
                    type: "furniture",
                    label: "dropdown",
                    ico: "expand_more",
                    id: "dropdown-furniture",
                })
            .col
                +dropdown({
                  type: "guests",
                  label: "dropdown",
                  defValue: "",
                  ico: "expand_more",
                  id: "dropdown-guests-noinit",
                })
            .col
                +dropdown({
                  type: "guests",
                  label: "dropdown",
                  defValue: "",
                  ico: "expand_more",
                  id: "dropdown-guests-init",
                })
        .row-in-sec
            .col
                +checkbox-list({
                  name: "checkbox list",
                  id: "checkbox-list",
                  items: [
                    {
                      name: "breakfast",
                      text: "Завтрак",
                      value: "no",
                      checked: false
                    },
                    {
                      name: "desk",
                      text: "Письменный стол",
                      value: "yes",
                      checked: true
                    },
                    {
                      name: "feedingСhair",
                      text: "Стул для кормления",
                      value: "yes",
                      checked: true
                    },
                    {
                      name: "crib",
                      text: "Кроватка",
                      value: "yes",
                      checked: true
                    },
                    {
                      name: "television",
                      text: "Телевизор",
                      value: "no",
                      checked: false
                    },
                    {
                      name: "shampoo",
                      text: "Шампунь",
                      value: "no",
                      checked: false
                    }
                  ]
                })
            .col
                +rich-checkbox-buttons({
                  name:"rech checkbox buttons",
                  items: [{
                    name: "wideCorridor",
                    checked: false,
                    value: "no",
                    title: "Широкий коридор",
                    subtitle: "Ширина коридоров в номере не менее 91 см."
                  },{
                    name: "helper",
                    checked: false,
                    value: "no",
                    title: "Помошник для инвалидов",
                    subtitle: "На 1 этаже вас встретит специалист и проводит до номера"
                  }]
                })
            .col
                +bullet-list({
                  name: "bullet list",
                  items: [
                    {text: "Нельзя с питомцами"},
                    {text: "Без вечеринок и мероприятий"},
                    {text: "Время прибытия - после 13:00, а выезд до 12:00"}
                  ]
                })
        .row-in-sec
            .col
                +icon-text({
                  type: "ico",
                  mod: "list",
                  ico: "insert_emoticon",
                  title: "Комфорт",
                  subtitle: "Шумопоглощающие стены"
                })
                +icon-text({
                    type: "ico",
                    mod: "list",
                    ico: "location_city",
                    title: "Удобство",
                    subtitle: "Окно в каждой из спален"
                })
            .col-67
                include ../hoc/comments/comments
