section.section.section_sec-form-elements
    include ../components/logo/logo
    .warp
        .row
            .col
                include ../components/text-field/text-field
                include ../components/dropdown/dropdown
            .col
                //include ../components/typography/typography
            .col
                //include ../components/typography/typography
        .row
            .col
                //include ../components/palette/palette
            .col
                //include ../components/typography/typography
            .col
                //include ../components/typography/typography
        .row
            .col
                //include ../components/palette/palette
            .col
                //include ../components/typography/typography
            .col
                //include ../components/typography/typography
        .row
            .col
                //include ../components/palette/palette
            .col
                //include ../components/typography/typography
            .col
                //include ../components/typography/typography
