include ../components/logo/logo
include ../components/dropdown/dropdown
include ../components/text-field/text-field
include ../components/masked-text-field/masked-text-field
include ../components/dropdown-date-range/dropdown-date-range
include ../components/subscription-text-field/subscription-text-field
include ../components/radio-buttons/radio-buttons
include ../components/label/label
include ../components/toggle/toggle
include ../components/checkbox-list/checkbox-list
include ../components/bullet-list/bullet-list
include ../components/like-button/like-button
include ../components/rate-button/rate-button
include ../components/icon-text/icon-text
include ../components/checkbox-button/checkbox-button
include ../components/rich-checkbox-buttons/rich-checkbox-buttons
include ../components/button/button
include ../components/range-slider/range-slider
include ../components/pag/pag
include ../cards/room/room
include ../components/header/header
include ../components/menu-header/menu-header
include ../components/footer/footer

.sections
    include ../sections/sec-colors-type/sec-colors-type
    include ../sections/sec-form-elements/sec-form-elements
    include ../sections/sec-cards/sec-cards
    include ../sections/sec-headers-footers/sec-headers-footers
