include ../../components/label/label
include ../../components/like-button/like-button

.like-buttons
    +label({text:"like button"})
    .like-buttons-wrap
        +like-button({
          ico: "favorite_border",
          num: "2"
        })
        +like-button({
          classes: ["like-button", "like-button_active"],
          ico: "favorite",
          num: "12"
        })
