include ../dropdown-date/dropdown-date

mixin dropdown-date-range(args)
    .dropdown-date-range
        if !args
            - args = {}
        +dropdown-date({
          label: "date dropdown",
        })
        +dropdown-date({
          label: "date dropdown",
          defValue: "19.08.2019"
        })
