include ../dropdown-date/dropdown-date

mixin dropdown-date-range(args)
    .dropdown-date-range
        +dropdown-date({
          text: args.labelStart,
          placeholder: args.placeholderStart,
          ico: "expand_more",
          id: args.idStart,
        })
        +dropdown-date({
            text: args.labelEnd,
            placeholder: args.placeholderEnd,
            ico: "expand_more",
            id: args.idEnd,
        })
