include ../dropdown-date/dropdown-date

mixin dropdown-date-range(args)
    if !args
        - args = {}
    .dropdown-date-range(data-type="date-range")
        +dropdown-date({
          label: args.labelStart || "date dropdown",
          defValue: args.placeholderStart || "ДД.ММ.ГГГГ",
        })
        +dropdown-date({
          label: args.labelEnd || "date dropdown",
          defValue: args.placeholderEnd ||"19.08.2019",
        })
