include ../label/label
include ../checkbox-button/checkbox-button

mixin rich-checkbox-buttons(args)
    -   const items=args.items

    .rich-checkbox-buttons
        +label({text:args.name})
        each item in items
            +checkbox-button({
                name: item.name,
                text: item.title,
                value: item.value,
                checked: item.checked,
                desc: item.subtitle,
                mod: "rich"
            })

