include ../label/label

mixin masked-text-field(args)
    .masked-text-field
        +label({text: args.label})
        input(
            type = "text"
            class = "masked-text-field_input"
            placeholder="ДД.ММ.ГГГГ"
            id = args.id
        )
