mixin text-field(type, className, id, name, defValue)
    div(class = className)
        label(for = id class = className + "_label")=name
        input(
            type = type
            id = id
            class = className + "_input"
            placeholder=defValue
        )

+text-field("text", "text-field", "text-field", "TEXT FIELD", "Email")


