include ../label/label

mixin text-field(args)
    div(class = "text-field")
        if (args.label)
            +label({
              text: args.label,
              forAttr: args.id
            })
        input(
            type = args.type
            name = args.name
            class = "text-field__input"
            placeholder=args.defValue,
            id = args.id
        )



