.checkbox-list{
  width: 266px;

  &__header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__ico{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    user-select: none;
    cursor: pointer;
    color: $dark_shade_50;
    //transform: rotate(-180deg);
  }
  &__items{
    position: absolute;
    background-color: #FFFFFF;
    z-index: 1000;
  }
}
