include ../label/label
include ../checkbox-button/checkbox-button

mixin checkbox-list(args)
    -   const items=args.items
    -   const id=args.id?args.id:null
    .checkbox-list(id=id)
        .checkbox-list__header
            .checkbox-list__name
                +label({text: args.name})
            .checkbox-list__ico(data-action="expand")
                span(class="material-icons md-24" style="pointer-events: none")="expand_more"
        .checkbox-list__items
            each item in items
                +checkbox-button({
                  name: item.name,
                  text: item.text,
                  value: item.value,
                  checked: item.checked
                })
