.typography
    .typography__item
        .typography__heading.typography__heading_h1 H1
        .typography__example
            h1 This one is the sub-section or <br> widget title
    .typography__item
        .typography__heading.typography__heading_h2 H2
        .typography__example
            h2 Next one is the item title inside <br> widgets
    .typography__item
        .typography__heading.typography__heading_h3 H3
        .typography__example
            h3 This is a label or CTA text
    .typography__item
        .typography__heading.typography__heading_body body
        .typography__example
            span
                |This is the body text which is used for most <br>
                |of the design, like paragraphs, lists, etc.
