.comment{
  width: 771px;
  &__description{
    padding-top: 10px;
    display: flex;
  }
  &__description-ico{
    padding: 0 5px;
  }
  &__description-text{
    width: 653px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $dark_shade_75;
 }
}
