include ../icon-text/icon-text
include ../like-button/like-button

.comment
    +icon-text({
      type: "img",
      ico: require("../components/comment/murad-sarafanov.png").default,
      title: "Мурад Сарафанов",
      subtitle: "5 дней"
    })
    .comment__description
        .comment__description-ico
            +like-button({
              classes: ["like-button", "like-button_active"],
              ico: "favorite",
              num: "12"
            })
        .comment__description-text
            |Великолепный матрас на кровати в основной спальне!
            |А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие.
            |Выкрикивал комплименты повару — никто не жаловался из соседей.
