extends ../../components/sub-layout/sub-layout

block variables
	-const title = 'Landing page'

block main
	.index.index_bg-1
		.index__form
			include ../../components/forms/search-room/search-room
		span.index__tagline
			|Лучшие номера для вашей работы,
			|отдыха и просто вдохновения
