.index {
  position: relative;
  flex-grow: 1;

  &_bg-1,
  &_bg-2,
  &_bg-3 {
    background-repeat: no-repeat;
    background-size: cover;
  }

  &_bg-1 {
    background-image: url("../img/bg-1.png");
  }

  &_bg-2 {
    background-image: url("../img/bg-2.png");
  }

  &_bg-3 {
    background-image: url("../img/bg-3.png");
  }

  &__form {
    position: absolute;
    top: 70px;
    left: 140px;
  }

  &__tagline {
    position: absolute;
    right: 134px;
    bottom: 21px;
    max-width: 297px;
    text-align: right;
  }
}
