mixin sub-field(args)
    .sub-field
        input(class="sub-field__input" placeholder="Email")
        div(class="sub-field__input-ico" data-action="send")
            span(class="material-icons")="arrow_forward"
