form(class="form form-reg" id="form-reg")
    .form-reg__header
        h1 Регистрация аккаунта
    .form-reg__input-name
        +text-field({
          type: text,
          name: "reg-name",
          class:"form-reg",
          defValue: "Имя" ,
        })
    .form-reg__input-surname
        +text-field({
          type: text,
          name: "reg-surname",
          class: "form-reg",
          defValue: "Фамилия",
        })
    .form-reg__checkbox
        +radio-buttons({showLabel: false})
    .form-reg__date-of-birth
        +masked-text-field({
          label: "дата рождения",
          id: "date-of-birth"
        })

    .form-reg__login-details
        .form-reg__login-email
            +text-field({
              label: "данные для входа в сервис",
              type: "email",
              name: "reg-email",
              class: "form-reg",
              defValue: "Email",
            })
        .form-reg__login-password
            +text-field({
              type: "password",
              name: "reg-password",
              class: "form-reg",
              defValue: "Пароль",
            })
    .form-reg__radio
        +toggle({
          text: "Получать спецпредложения",
          id: "special-offer",
        })
    .form-reg__button
        +button({
          type: "adv",
          text: "перейти к оплате"
        })
    .form-reg__footer
        .form-reg__footer-text Уже есть аккаунт на Toxin
        .form-reg__footer-button
            +button({
              type: "def",
              mod: "secondary",
              text: "войти"
            })
