form(class='form form-reg')
    .form-reg__header
        h1 Регистрация аккаунта
    .form-reg__input-name
    .form-reg__input-surname
    .form-reg__checkbox
    .form-reg__date-of-birth
    .form-reg__login-details
    .form-reg__radio
    .form-reg__button
    .form-reg__footer
        .form-reg__footer-text
        .form-reg__footer-button
