include ../section/section
include ../header/header
include ../footer/footer

+section({modClass:'darker'})
    block section
        .section__element
            +header({active: 0})
        .section__element
            +header({isLogin: true, active: 0})
        .section__element
            +footer()
