include ../section/section
include ../footer/footer
+section({modClass:'darker'})
    block section
        .section__element
        .section__element
        .section__element
            +footer()
