include ../section/section
+section({modClass:'darker'})
    block section
        .section__element
//+logo({})
//section.section.section-headers-footers
//    .row
//        +header({})
//    .row
//        +header({isLogin:true})
//    .row
//        +footer({})
