include ../icon-text/icon-text

mixin icon-text-list(args)
    if !args
        - args = {}
    .icon-text-list
        +icon-text({
            mod: "list",
            img: require("../../components/icon-text/img/insert_emoticon.png").default,
            title: "Комфорт",
            subtitle: "Шумопоглощающие стены"
        })
        +icon-text({
            mod: "list",
            img: require("../../components/icon-text/img/location_city.png").default,
            title: "Удобство",
            subtitle: "Окно в каждой из спален"
        })
