include ../icon-text/icon-text

mixin icon-text-list(args)
    .icon-text-list
        +icon-text({
            mod: "list",
            img: "insert_emoticon.png",
            title: "Комфорт",
            subtitle: "Шумопоглощающие стены"
        })
        +icon-text({
            mod: "list",
            img: "location_city.png",
            title: "Удобство",
            subtitle: "Окно в каждой из спален"
        })
