mixin color-info(modClass, name, code)
    .color-info
        .color-info__view
            div(class = "color-info__view--" + modClass)
        .color-info__specification
            .color-info__name=name
            .color-info__code=code
