mixin room-number(args)
    if !args
        - args = {}
    .room-number
        span(class="room-number__sign") №
        span(class="room-number__num")=args.num
        if args.isLux
            span(class="room-number__isLux") люкс
