@import "../../theme/colors";

.room-number {
  &__sign,
  &__num,
  &__isLux {
    font-weight: bold;
  }

  &__sign,
  &__num {
    color: #1f2041;
  }

  &__sign {
    padding-right: 3px;
    font-size: 14px;
  }

  &__num {
    font-size: 19px;
  }

  &__isLux {
    padding-left: 8px;
    text-transform: uppercase;
    color: $purple;
    font-size: 12px;
  }
}
