extends ../../components/layouts/layout

block variables
    -var title = 'UI-KIDS'

block content
    include ../../components/section-colors-type/section-colors-type
    include ../../components/section-form-elements/section-form-elements
