extends ../../components/layout/layout

block variables
    -const title = 'UI-KIDS'

block content
    include ../../components/section-colors-type/section-colors-type
    include ../../components/section-form-elements/section-form-elements
    include ../../components/section-cards/section-cards
    include ../../components/section-headers-footers/section-headers-footers
