include ../section/section
include ../subheading/subheading
include ../like-button/like-button
include ../rate-button/rate-button
include ../icon-text-list/icon-text-list
include ../comment/comment
include ../checkbox-button/checkbox-button
include ../bullet-list/bullet-list

+section()
    block section
        .section__row
            .section__col
                .section__element
                .section__element
                .section__element
                .section__element
                .section__element
            .section__col
                .section__element
                    +subheading({text:'CHECKBOX BUTTONS'})
                    +checkbox-button({
                      name: "smoke",
                      text: "Можно курить",
                      checked: false
                    })
                    +checkbox-button({
                      name: "pet",
                      text: "Можно с питомцами",
                      checked: true
                    })
                    +checkbox-button({
                      name: "guests",
                      text: "Можно пригласить гостей (до 10 человек)",
                      checked: true
                    })
                .section__element
                    +subheading({text:'RADIO BUTTONS'})
                .section__element
                    +subheading({text:'TOGGLE'})
                .section__element
                    +subheading({text:'LIKE BUTTON'})
                    +like-button({
                        isLike: false,
                        num: '2'
                    })
                    +like-button({
                        isLike: true,
                        num: '12'
                    })
                .section__element
                    +subheading({text:'RATE BUTTON'})
                    +rate-button(4)
                    +rate-button(5)
            .section__col
                .section__element
                .section__element
                    +subheading({text:'BUTTONS'})
                .section__element
                .section__element
                .section__element
                    +subheading({text:'PAGINATION'})
        .section__row
            .section__col
            .section__col
            .section__col
        .section__row
            .section__col
            .section__col
                .section__element
                    +subheading({text: 'RICH CHECKBOX BUTTONS'})
                    +checkbox-button({
                      name: "wideCorridor",
                      text: "Широкий коридор",
                      desc: "Ширина коридоров в номере не менее 91 см.",
                      checked: false,
                      mod: "rich"
                    })
                    +checkbox-button({
                      name: "helper",
                      text: "Помошник для инвалидов",
                      desc: "На 1 этаже вас встретит специалист и проводит до номера",
                      checked: false,
                      mod: "rich"
                    })
            .section__col
                .section__element
                    +subheading({text: 'BULLET LIST'})
                    +bullet-list({
                                  items: [
                                    {text: "Нельзя с питомцами"},
                                    {text: "Без вечеринок и мероприятий"},
                                    {text: "Время прибытия - после 13:00, а выезд до 12:00"}
                                  ]
                            })
        .section__row
            .section__col
                .section__element
                    +icon-text-list()
            .section__col
                .section__element
                    +comment({
                        iconText:{
                          img: require('../../components/comment/img/user.png').default,
                          title: 'Мурад Сарафанов',
                          subtitle: '5 дней'
                        },
                        likeButton:{
                          isLike: true,
                          num: '12'
                        },
                        descText:
                          `Великолепный матрас на кровати в основной спальне!
                          А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие.
                          Выкрикивал комплименты повару — никто не жаловался из соседей.`
                    })

//+logo({})
//section.section.section-form-elements
//    .row
//        .col
//            .wrap-element
//                +text-field({
//                  label: "text-field",
//                  className: "text-field",
//                  type: "text",
//                  name: "name",
//                  defValue: "Email",
//                  id: "text-field"
//                })
//            .wrap-element
//                +dropdown({
//                  mod: "def",
//                  modIco: "def",
//                  label: "dropdown",
//                  defValue: "Сколько гостей",
//                  ico: "expand_more"
//                })
//            .wrap-element-wide
//                +masked-text-field({label: "masked text field"})
//            .wrap-element-wide
//                +dropdown-date-range({
//                  labelStart: "date dropdown",
//                  labelEnd: "date dropdown",
//                  placeholderStart: "ДД.ММ.ГГГГ",
//                  placeholderEnd: "19.08.2019",
//                  idStart: "dropdown-date-1",
//                  idEnd: "dropdown-date-2",
//                })
//            .wrap-element-wide
//                +dropdown-date({
//                  text: "filter date dropdown",
//                  ico: "expand_more",
//                  id: "dropdown-date-filter",
//                  mod: "filter",
//                })
//            .wrap-element-wide
//                +subheading({text: "subscription text field"})
//                +sub-field({})
//        .col
//
//            .wrap-element-wide
//                +radio-buttons({showLabel: true})
//            .wrap-element-wide
//                +label({text: "toggle"})
//                +toggle({
//                  text: "Получать спецпредложения",
//                  id: "toggle-1",
//                  checked: true
//                })
//                +toggle({
//                  text: "Получать спецпредложения",
//                  id: "toggle-2",
//                })
//
//            .wrap-element-wide
//                +subheading({text: "rate button"})
//                +rate-button(4)
//                +rate-button(5)
//        .col
//            .wrap-element-wide
//                +range-slider({
//                  text: "range slider",
//                  id: "range-slider"
//                })
//            .wrap-element-wide
//                +subheading({text:"buttons"})
//                .wrap-element
//                    +button({
//                      type: "def",
//                      mod: "primary",
//                      text: "click me"
//                    })
//                .wrap-element
//                    +button({
//                      type: "def",
//                      mod: "secondary",
//                      text: "click me"
//                    })
//                .wrap-element
//                    +button({
//                      type: "link",
//                      text: "click me"
//                    })
//                .wrap-element
//                    +button({
//                      type: "adv",
//                      text: "перейти к оплате"
//                    })
//            .wrap-element-wide
//                +pagination({text: "pagination"})
//    .row
//        .col
//            +dropdown({
//              type: "furniture",
//              label: "dropdown",
//              ico: "expand_more",
//              id: "dropdown-furniture"
//            })
//        .col
//            +dropdown({
//              type: "guests",
//              label: "dropdown",
//              defValue: "",
//              ico: "expand_more",
//              id: "dropdown-guests-noinit"
//            })
//        .col
//            +dropdown({
//              type: "guests",
//              label: "dropdown",
//              defValue: "",
//              ico: "expand_more",
//              id: "dropdown-guests-init"
//            })
//    .row
//        .col
//            +checkbox-list({
//              name: "checkbox list",
//              id: "checkbox-list",
//              items: [
//                {
//                  name: "breakfast",
//                  text: "Завтрак",
//                  value: "no",
//                  checked: false
//                },
//                {
//                  name: "desk",
//                  text: "Письменный стол",
//                  value: "yes",
//                  checked: true
//                },
//                {
//                  name: "feedingСhair",
//                  text: "Стул для кормления",
//                  value: "yes",
//                  checked: true
//                },
//                {
//                  name: "crib",
//                  text: "Кроватка",
//                  value: "yes",
//                  checked: true
//                },
//                {
//                  name: "television",
//                  text: "Телевизор",
//                  value: "no",
//                  checked: false
//                },
//                {
//                  name: "shampoo",
//                  text: "Шампунь",
//                  value: "no",
//                  checked: false
//                }
//              ]
//            })
//
//        .col
//
//    .row
//        .col
//            +icon-text({
//              type: "ico",
//              mod: "list",
//              ico: "insert_emoticon",
//              title: "Комфорт",
//              subtitle: "Шумопоглощающие стены"
//            })
//            +icon-text({
//              type: "ico",
//              mod: "list",
//              ico: "location_city",
//              title: "Удобство",
//              subtitle: "Окно в каждой из спален"
//            })
//        .col-wide
//            include ../comment/comment
