include ../../components/dropdown/dropdown

.dropdown-furniture-wrap
    +dropdown({
      type: "furniture",
      label: "dropdown",
      ico: "expand_more",
      id: "dropdown-furniture",
      isOptions: true
    })
