@import "../../theme/colors";

.masked-text-field {
  width: 320px;

  &_input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 14px;
    color: $dark_shade_25;
    border: 1px solid $dark_shade_25;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $dark_shade_25;
    }
  }
}
