include ../label/label

mixin masked-text-field(args)
    if !args
        - args = {}
    +label({text: args.label})
    .masked-text-field
        input(
            type = "text"
            class = "masked-text-field_input"
            placeholder="ДД.ММ.ГГГГ"
            data-type="masked-text"
            data-subtype="date"
        )
