include ../date-dropdown/date-dropdown
mixin date-filter(args)
    if !args
        - args = {}
    .date-filter(data-type="date-filter")
        +date-dropdown({
          labelText: "даты пребывания в отеле",
          type: "date-filter",
          placeholder: "19 авг - 23 авг",
        })
