include ../section/section
+section()
    block section
        .section__row
            .section__col
                include ../palette/palette
            .section__col
                include ../typography/typography
