include ../menu/menu

mixin header(args)
    if !args
        - args = {}
    -   const mod=args.isLogin ? "header_authorized" : ""
    header(class=`header ${mod}`)
        .header__logo
            +logo({isBig:true})
        .header__nav
           +menu()
        .header__buttons
            .header__button-login
                +button({
                  type: "def",
                  mod: "secondary-narrow",
                  text: "войти"
                })
            .header__button-register
                +button({
                  type: "adv-no-ico",
                  text: "зарегистрироваться"
                })
        .header__accaunt
            span.header__accaunt-name="Юлий Цезарь"
