include ../../components/label/label
include ../../components/rate-button/rate-button

.rate-buttons
    +label({text:"rate button"})
    .rate-buttons__warp
        +rate-button(4)
        +rate-button(5)
