include ../dropdown/dropdown
include ../button/button
include ../dropdown-option/dropdown-option

mixin dropdown-select(args)
    if !args
        - args = {}
    +dropdown({
      labelText: args.labelText,
      mod: args.mod,
      type: args.type,
      placeholder: args.placeholder,
      modIco: args.modIco,
    })
        if args.options
            .dropdown__wrap-options
                each option, index in args.options
                    +dropdown-option({
                      text: option.text,
                      value: option.value,
                      item: index
                    })
                if args.type === "people"
                    .dropdown__buttons(data-type = "buttons")
                        +button({
                          role: "btn",
                          size: "small",
                          type: "type-3",
                          action: "clear",
                          text: "очистить"
                        })
                        +button({
                          role: "btn",
                          size: "small",
                          type: "type-3",
                          action: "apply",
                          text: "применить"
                        })
