@import "../../theme/colors";

.menu-header {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__link {
    display: flex;
    height: 44px;
    padding-left: 21px;
    cursor: pointer;
    text-decoration: none;
    color: $dark_shade_50;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      height: 24px;
      padding-top: 2px;
      pointer-events: none;
      fill: $dark_shade_50;
    }

    &:hover {
      transition: color 500ms;
      color: $purple;

      svg {
        fill: $purple;
      }
    }

    &_active {
      color: $dark_shade_75;
      font-weight: bold;

      svg {
        fill: $dark_shade_75;
      }
    }
  }
}
