@import "../../theme/colors";

.icon-text {
  display: flex;
  width: 280px;

  &__ico {
  }

  &__descroption {
    padding-left: 10px;
    color: $dark_shade_75;
    font-size: 14px;
    line-height: 24px;
  }

  &__title {
    font-weight: 700;
  }

  &__subtitle {
    font-weight: 300;
  }

  &_list {
    margin-bottom: 20px;
    padding-bottom: 17px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }

  &_comment {
    img {
      width: 48px;
      height: 48px;
      border: 2px solid #fff;
      border-radius: 32px;
      box-shadow: 0 10px 20px rgba(31, 32, 65, .1);
    }
  }
}

