include ../section/section
+section({modClass:'darker'})
    block section
        .section__element
//+logo({})
//section.section.section-cards
//    .row
//        .col
//            .wrap-element-wide
//                include ../forms/search-room/search-room
//            .wrap-element-wide
//                include ../forms/account-registration/account-registration
//        .col
//            .wrap-element-wide
//                include ../forms/booking/booking
//            .wrap-element-wide
//                include ../forms/login/login
//        .col
//            .wrap-element-wide
//                #calendar
//            .wrap-element-wide
//                +room("888", true, "9 990", 5, 145)
//            .wrap-element-wide
//                +room("840", true, "9 990", 4, 65)
