include ../section/section
include ../calendar/calendar
include ../room/room
+section({modClass:'darker'})
    block section
        .section__element
            .section__row
                .section__col
                    .section__element
                        include ../forms/search-room/search-room
                    .section__element
                        include ../forms/account-registration/account-registration
                .section__col
                    .section__element
                        include ../forms/booking/booking
                    .section__element
                        include ../forms/login/login
                .section__col
                    .section__element
                        +calendar()
                    .section__element
                        +room("888", true, "9 990", 5, 145)
                    .section__element
                        +room("888", true, "9 990", 5, 145)
