include ../logo/logo
mixin section(args)
    if !args
        - args = {}
    -
        const modClass = args.modClass ? 'section_'+args.modClass :''
    section.section(class=modClass)
        .section__header
            +logo()
        .section__content
            block
