include ../dropdown/dropdown

mixin dropdown-date-filter(args)
    if !args
        - args = {}
    +dropdown({
      label: "filter date dropdown",
      defValue: args.defValue || "19 авг - 23 авг",
      mod: "dropdown__date-filter",
      type: "date-filter"
    })
