@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";

.footer {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  padding-top: 85px;


  &__top, &__bottom {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
  }

  &__top {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark_shade_75;

  }

  &__bottom {
    align-items: center;
  }

  &__line {
    padding-top: 100px;
    height: 1px;
    box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
  }

  &__description, &__subscription {
    max-width: 260px;
    width: 100%;
  }

  &__description {

  }

  &__text {
    padding-top: 5px;
    letter-spacing: 1px;
  }

  &__menu {
    max-width: 550px;
    width: 100%;
  }

  &__subscription {
    .footer__text {
      padding: 20px 0;
    }
  }

  &__copyright {
    font-weight: normal;
    font-size: 14px;
    color: $dark_shade_75;
  }

  a {
    i {
      background: -webkit-linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding: 23px 0 23px 20px;
      font-size: 24px;
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

}

@media screen and (max-width: 1180px) {

  .footer {
    max-width: 768px;
    padding: 120px 0;
    margin: 0 auto;

    &__top {
      width: 100%;
      justify-content: center;
    }

    &__description {
      display: flex;
      justify-content: center;
    }

    &__copyright {
      padding: 20px 0 25px 0;
    }

    &__line,
    &__nav,
    &__text,
    &__subscription {
      display: none;
    }

    &__bottom {
      flex-direction: column;
    }

    a {
      i {
        padding: 0 10px;
      }
    }
  }
}
