@import "../../theme/colors";

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding-top: 85px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  &__top,
  &__bottom {
    display: flex;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
  }

  &__top {
    color: $dark_shade_75;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }

  &__bottom {
    align-items: center;
  }

  &__line {
    height: 1px;
    padding-top: 100px;
    box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
  }

  &__description,
  &__subscription {
    width: 100%;
    max-width: 260px;
  }

  &__text {
    padding-top: 5px;
    letter-spacing: 1px;
  }

  &__menu {
    width: 100%;
    max-width: 550px;
  }

  &__subscription {
    .footer__text {
      padding: 20px 0;
    }
  }

  &__copyright {
    color: $dark_shade_75;
    font-size: 14px;
    font-weight: normal;
  }

  &__soc-ico {
    padding: 23px 0;

    a {
      margin-left: 20px;
      text-decoration: none;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1180px) {
  .footer {
    max-width: 768px;
    margin: 0 auto;
    padding: 120px 0;

    &__top {
      width: 100%;
      justify-content: center;
    }

    &__description {
      display: flex;
      justify-content: center;
    }

    &__copyright {
      padding: 20px 0 25px;
    }

    &__line,
    &__nav,
    &__text,
    &__subscription {
      display: none;
    }

    &__bottom {
      flex-direction: column;
    }
  }
}
