form(class="form form-login" id="form-login")
    .form-login__header
        h1 Войти
    .form-login__input-email
        +text-field({
          type: 'email',
          name: "login-email",
          class:"form-login",
          defValue: "Email" ,
        })
    .form-login__input-pass
        +text-field({
          type: "password",
          name: "login-pass",
          class: "form-login",
          defValue: "Пароль",
        })
    .form-login__button
        +button({
          role: "btn",
          size: "big",
          text: "войти"
        })
    .form-login__footer
        .form-login__footer-text Нет аккаунта на Toxin?
        .form-login__footer-button
            +button({
              role: "btn",
              size: "small",
              type: "type-2",
              text: "создать"
            })
