.form-login {
  &__header {
    padding: 10px 0 15px;
  }

  &__input-email,
  &__input-input-pass {
    margin: 10px 0;
  }

  &__button {
    padding-top: 20px;
  }

  &__footer {
    display: flex;
    width: 100%;
    max-width: 320px;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;

    &-text {
      color: #000;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
