mixin dropdown-option(args)
    .dropdown-option
        .dropdown-option_text=args.text
        .dropdown-option_counter
            .dropdown-option_counter-sub="-"
            .dropdown-option_counter-value=args.value
            .dropdown-option_counter-add="+"
