.room-price {

  &__num, &__sign, &__legend {
    color: $dark_shade_50;
  }

  &__num {
    font-weight: 700;
    font-size: 14px;
  }

  &__sign {
    font-weight: 900;
    font-size: 14px;
    padding-left: 3px;
  }

  &__legend {
    font-weight: normal;
    font-size: 12px;
    padding-left: 5px;
  }
}
