.room {
  width: 100%;
  max-width: 270px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  &__header {
    display: flex;
    margin: 0 20px;
    padding: 20px 0 10px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    justify-content: space-between;
    align-items: flex-end;
  }

  &__footer {
    display: flex;
    padding: 10px 20px 20px;
    justify-content: space-between;
    align-items: center;
  }

  &__rating {
    display: flex;
    align-items: center;
  }
}
