.room {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 270px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  &__header {
    display: flex;
    margin: 21px 16px 0 21px;
    padding: 0 0 8px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    justify-content: space-between;
    align-items: flex-end;
  }

  &__footer {
    display: flex;
    padding: 9px 22px 11px 19px;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__rating {
    display: flex;
    align-items: center;
  }
}
