.form-reg {
  &__header {
    padding: 10px 0 15px;
  }

  &__input-name,
  &__input-surname,
  &__checkbox,
  &__login-email,
  &__login-password,
  &__login-details {
    margin: 10px 0;
  }

  &__date-of-birth,
  &__login-details {
    padding-top: 10px;
  }

  &__button {
    padding-top: 20px;
  }

  &__footer {
    display: flex;
    width: 100%;
    max-width: 320px;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;

    &-text {
      color: #000;
      font-size: 14px;
      font-weight: normal;
    }
  }
}
