include ../../components/label/label
include ../../components/checkbox-item/checkbox-item

.checkbox-buttons
    +label({text: "checkbox buttons"})
    +checkbox-item({
      name: "smoke",
      text: "Можно курить",
      value: "no",
      checked: false
    })
    +checkbox-item({
      name: "pet",
      text: "Можно с питомцами",
      value: "yes",
      checked: true
    })
    +checkbox-item({
      name: "guests",
      text: "Можно пригласить гостей (до 10 человек)",
      value: "yes",
      checked: true
    })
