.color-info{
  display: flex;
  align-items: center;
  padding-bottom: 20px;

  &__view{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;

    &--dark-shade-100{
      background-color: $dark_shade_100;
    }
    &--dark-shade-75{
      background-color: $dark_shade_75;
    }
    &--dark-shade-50{
      background-color: $dark_shade_50;
    }
    &--dark-shade-25{
      background-color: $dark_shade_25;
    }
    &--dark-shade-5{
      background-color: $dark_shade_5;
    }
    &--purple{
      background-color: $purple;
    }
    &--green{
      background-color: $green;
    }
  }
  &__specification{
    font-size: 19px;
    line-height: 28px;
  }
  &__name{
    font-weight: 700;
    color: $dark_shade_100;

  }
  &__code{
    font-weight: 300;
  }

}
