mixin color-info(args)
    if !args
        - args = {}
    .color-info
        div(class = "color-info__view color-info__view_" + args.classMod)
        .color-info__specification
            .color-info__name=args.name
            .color-info__code=args.code
