mixin color-info(modClass, name, code)
    .color-info
        div(class = "color-info__view color-info__view_" + modClass)
        .color-info__specification
            .color-info__name=name
            .color-info__code=code
