@import '../../theme/colors';

.color-info {
  display: flex;
  padding-bottom: 20px;
  align-items: center;

  &__view {
    width: 70px;
    height: 70px;
    margin-right: 40px;
    border-radius: 6px;

    &_dark-shade-100 {
      background-color: $dark_shade_100;
    }

    &_dark-shade-75 {
      background-color: $dark_shade_75;
    }

    &_dark-shade-50 {
      background-color: $dark_shade_50;
    }

    &_dark-shade-25 {
      background-color: $dark_shade_25;
    }

    &_dark-shade-5 {
      background-color: $dark_shade_5;
    }

    &_purple {
      background-color: $purple;
    }

    &_green {
      background-color: $green;
    }
  }

  &__specification {
    font-size: 19px;
    line-height: 28px;
  }

  &__name {
    color: $dark_shade_100;
    font-weight: 700;
  }

  &__code {
    font-weight: 300;
  }

}
