$dark_shade_100: rgb(31, 32, 65);
$dark_shade_75: rgba(31, 32, 65, .75);
$dark_shade_50: rgba(31, 32, 65, .5);
$dark_shade_25: rgba(31, 32, 65, .25);
$dark_shade_5: rgba(31, 32, 65, .05);
$purple: #BC9CFF;
$green: #6FCF97;
