include ../label/label

mixin text-field(args)
    if !args
        - args = {}
    div(class = "text-field")
        if (args.label)
            +label({
              text: args.label,
            })
            input(
                type = args.type
                name = args.name
                class = "text-field__input"
                placeholder=args.defValue,
            )



