include ../../components/dropdown/dropdown

.dropdown-def
    +dropdown({
      mod:"def",
      modIco: "def",
      label: "dropdown",
      defValue: "Сколько гостей",
      ico: "expand_more"
    })
