.dropdown{
  width: 320px;
  padding-bottom: 20px;
  &__label{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark_shade_100;
    padding-bottom: 5px;
  }
  &__wrap-input{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;

    border: 1px solid $dark_shade_25;;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 12px;
  }
  &__input{
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: $dark_shade_75;
    outline: none;
    border: none;
    &::placeholder{
      color: $dark_shade_75;
    }
  }
  &__input-ico{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    &_default{
      color: $dark_shade_50;
    }
  }
}
